


<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">

        if (!window.console)
            console = {log: function() {}};
    </script>
    

<title>JWC Environmental</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="JWC Environmental&#39;s family of wastewater, storm water and sewage treatment products are legendary for quality and reliability — including the Muffin Monster and Channel Monster" />  <meta name="Title" content="JWC Environmental"/> 
    <link rel="shortcut icon" href="https://vertassets.blob.core.windows.net/sites/favicons/wol-favicon.ico" />
    

<!-- Google Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');


    var gaConfig = {
        'legacyCookieDomain': 'none',
        'allowLinker': true
    };

    ga('create', 'UA-13015922-3', 'auto', gaConfig);

    ga('require', 'linker');
    ga('linker:autoLink', ['cart.lifesciencetraininginstitute.com', 'www.lifesciencetraininginstitute.com']);

        ga('set', "CompanyId", '465');
    
    ga('send', 'pageview', '/ecommcenter/jwcenvironmental?documenttype=&hascompany=Y&companyid=465&hasauthor=N');
</script>
<!-- End Google Analytics -->

    <link href="/wwwroot/css/lib.min.css?v=27755" rel="stylesheet"/>

    <link href="/wwwroot/css/accents/purple.min.css?v=27755" rel="stylesheet"/>


    <!--[if lt IE 9]>
        <script src ="/wwwroot/js/ie/ie.min.js?v=27755"></script>

    <![endif]-->


    <script type="text/javascript">
        var OA_zones = {"271":271,"856":856,"274":274,"273":273,"787":787,"1330":1330};
        var __vertVids = [];
    </script>
    
    <script type="text/javascript">
        var pageZones = {};
        for (var ad in pageZones) {
            OA_zones[ad] = pageZones[ad];
        }

        
    </script>

    <script type="text/javascript" src="https://ads.vertmarkets.com/ads/delivery/spcjs.php?id=65&block=1"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    

    
    <script type="text/javascript">
        var analyticsPageName = 'jwcenvironmental';
    </script>
    
    

</head>
<body class="">
    <!--[if IE 8]>
        <script type="text/javascript">
            document.getElementsByTagName('body')[0].className = 'ie-8';
        </script>
    <![endif]-->

    <script type="text/template" id="login-template">
    <% if(!userLoggedIn) { %>
    <a href="<%= signInUrl %>">Sign in</a> or
    <a href="<%= signUpUrl %>">Sign-up</a>
    <% } else { %>
    Welcome,
    <strong><%= userName %></strong> 
    (<a href="<%= profileUrl %>">Profile</a> |
    <a id="sign-out-link" href="<%= signOutUrl %>">Sign Out</a>)
    <% } %>
</script>


<script type="text/template" id="hello-bar-template">
    <div id="hellobar" class="<%= topClass %>">
        <span class="hello-bar-text"><%= text %></span>
        <span class="fancy-btn-inline-block">
            <a class="fancy-btn-default fancy-btn-variable" href="<%= url %>">
                <span class="fa <%= iconClass %> icon-white"></span> <%= buttonText %>
            </a>
        </span>
    </div>
    <div id="hellobar-pusher"></div>
</script>

    <div class="hellobar-container mobile-hide noprint"></div>

    <div class="site-header container">
    <div class="site-header-inner ir">
        <a href="/"><img alt="www.wateronline.com" src="https://vertassets.blob.core.windows.net/sites/logos/wol.png" border="0" /></a>
        <div class="right-hand-information">
            
            <div class="user-login-indicator noprint" data-action="/user/LoginInfo"></div>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-sites noprint" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navLinks" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <form action="/search" method="GET" class="navbar-right" role="search">
            <input type="text" name="keyword" id="keyword" maxlength="1000" /><a class="search-button" href="#"><span class="fa fa-search icon-white" title=""> </span></a>
        </form>
        <div class="collapse navbar-collapse" id="navLinks">

            <ul class="nav navbar-nav">
                    <li class="dropdown">        <a href="/solution/drinking-water" class="dropdown-toggle" data-toggle="dropdown">
            Drinking Water
                <b class="caret "></b>
        </a>
        <ul class="dropdown-menu ">
                <li class="dropdown-submenu">        <a href="/solution/drinking-water-treatment" class="dropdown-toggle" data-toggle="dropdown-submenu">
            Treatment
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/drinking-water-treatment" >All Treatment</a>
</li>
                <li class="">        <a href="/solution/contaminant-removal" >Contaminant Removal</a>
</li>
                <li class="">        <a href="/solution/desalination" >Desalination</a>
</li>
                <li class="">        <a href="/solution/drinking-water-disinfection" >Disinfection</a>
</li>
                <li class="">        <a href="/solution/drinking-water-filtration" >Filtration</a>
</li>
                <li class="">        <a href="/industrysegment/water-membranes" >Membranes</a>
</li>
        </ul>
</li>
                <li class="dropdown-submenu">        <a class="dropdown-toggle" data-toggle="dropdown-submenu">
            Measurement
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/drinking-water-measurement" >All Measurement</a>
</li>
                <li class="">        <a href="/solution/drinking-water-analysis" >Analysis</a>
</li>
                <li class="">        <a href="/solution/drinking-water-flow-control-measurement" >Flow Control and Measurement</a>
</li>
                <li class="">        <a href="/solution/water-instrumentation" >Instrumentation</a>
</li>
                <li class="">        <a href="/solution/scada-automation" >SCADA and Automation</a>
</li>
        </ul>
</li>
                <li class="dropdown-submenu">        <a class="dropdown-toggle" data-toggle="dropdown-submenu">
            Distribution
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/drinking-water-distribution" >All Distribution</a>
</li>
                <li class="">        <a href="/solution/amr-ami-and-metering" >AMR, AMI and Metering </a>
</li>
                <li class="">        <a href="/solution/water-loss" >Water Loss</a>
</li>
        </ul>
</li>
                <li class="dropdown-submenu">        <a class="dropdown-toggle" data-toggle="dropdown-submenu">
            Source Water
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/source-water" >All Source Water</a>
</li>
                <li class="">        <a href="/solution/source-water-contamination" >Contamination</a>
</li>
                <li class="">        <a href="/solution/desalination" >Desalination</a>
</li>
                <li class="">        <a href="/solution/water-scarcity" >Scarcity</a>
</li>
                <li class="">        <a href="/solution/water-reuse" >Water Reuse</a>
</li>
        </ul>
</li>
                <li class="">        <a href="/topic/drinking-water-regulations" >Regulations and Legislation</a>
</li>
        </ul>
</li>
                    <li class="dropdown">        <a href="/solution/wastewater" class="dropdown-toggle" data-toggle="dropdown">
            Wastewater
                <b class="caret "></b>
        </a>
        <ul class="dropdown-menu ">
                <li class="dropdown-submenu">        <a href="/solution/wastewater-treatment" class="dropdown-toggle" data-toggle="dropdown-submenu">
            Treatment
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/wastewater-treatment" >All Treatment</a>
</li>
                <li class="">        <a href="/solution/wastewater-aeration" >Aeration and Blowers</a>
</li>
                <li class="">        <a href="/solution/collection-systems " >Collection Systems</a>
</li>
                <li class="">        <a href="/solution/wastewater-contaminant-removal " >Contaminant Removal</a>
</li>
                <li class="">        <a href="/solution/wastewater-disinfection" >Disinfection</a>
</li>
                <li class="">        <a href="/solution/wastewater-filtration" >Filtration</a>
</li>
                <li class="">        <a href="/solution/flushables" >Flushables</a>
</li>
                <li class="">        <a href="/solution/wastewater-membranes" >Membranes</a>
</li>
                <li class="">        <a href="/solution/wastewater-mixing" >Mixing</a>
</li>
                <li class="">        <a href="/solution/nutrient-removal" >Nutrient Removal</a>
</li>
                <li class="">        <a href="/solution/odor-control" >Odor Control</a>
</li>
                <li class="">        <a href="/industrysegment/producedwatertreatment" >Produced Water</a>
</li>
                <li class="">        <a href="/solution/separation-clarification  " >Separation and Clarification</a>
</li>
                <li class="">        <a href="/solution/sludge-biosolids-processing" >Sludge and Biosolids Processing</a>
</li>
                <li class="">        <a href="/industrysegment/wastewater-pump" >Wastewater Pumps</a>
</li>
                <li class="">        <a href="/solution/water-reuse" >Water Reuse</a>
</li>
        </ul>
</li>
                <li class="dropdown-submenu">        <a href="" class="dropdown-toggle" data-toggle="dropdown-submenu">
            Measurement
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/wastewater-measurement" >All Measurement</a>
</li>
                <li class="">        <a href="/solution/wastewater-analysis " >Analytical Instruments</a>
</li>
                <li class="">        <a href="/solution/wastewater-flow-control-measurement" >Flow Control and Measurement</a>
</li>
                <li class="">        <a href="/solution/wastewater-instrumentation " >Instrumentation</a>
</li>
                <li class="">        <a href="/solution/scada-automation" >SCADA and Automation</a>
</li>
        </ul>
</li>
                <li class="dropdown-submenu">        <a href="/solution/wastewater-management" class="dropdown-toggle" data-toggle="dropdown-submenu">
            Management
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/wastewater-management" >All Management</a>
</li>
                <li class="">        <a href="/solution/flushables" >Flushables</a>
</li>
                <li class="">        <a href="/solution/pump-station-monitoring" >Pump Station Control</a>
</li>
                <li class="">        <a href="/solution/pumps-valves" >Pumps and Valves </a>
</li>
                <li class="">        <a href="/solution/sewers-sewer-line-maintenance" >Sewers and Sewer Line Maintenance </a>
</li>
                <li class="">        <a href="/solution/stormwater-management" >Stormwater</a>
</li>
        </ul>
</li>
                <li class="">        <a href="/solution/wastewater-regulations-and-legislation" >Regulations and Legislation</a>
</li>
        </ul>
</li>
                    <li class="dropdown">        <a href="/topic/industrial-water-and-wastewater" class="dropdown-toggle" data-toggle="dropdown">
            Industrial
                <b class="caret "></b>
        </a>
        <ul class="dropdown-menu ">
                <li class="">        <a href="/solution/industrial" >All Industrial</a>
</li>
                <li class="">        <a href="/solution/food-beverage    " >Food &amp; Beverage</a>
</li>
                <li class="dropdown-submenu">        <a class="dropdown-toggle" data-toggle="dropdown-submenu">
            Petroleum &amp; Refining
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/petroleum-refining" >All Petroleum &amp; Refining</a>
</li>
                <li class="">        <a href="/solution/produced-water-treatment" >Produced Water</a>
</li>
        </ul>
</li>
                <li class="">        <a href="/solution/power-generation" >Power Generation</a>
</li>
                <li class="">        <a href="/solution/water-reuse" >Water Reuse</a>
</li>
        </ul>
</li>
                    <li class="dropdown">        <a href="/topic/utility-management" class="dropdown-toggle" data-toggle="dropdown">
            Utility Management
                <b class="caret "></b>
        </a>
        <ul class="dropdown-menu ">
                <li class="">        <a href="/solution/utility-management" >All Utility Management</a>
</li>
                <li class="">        <a href="/solution/amr-ami-and-metering " >AMR, AMI and Metering</a>
</li>
                <li class="">        <a href="/solution/asset-management" >Asset Management</a>
</li>
                <li class="">        <a href="/solution/consumer-outreach" >Consumer Outreach</a>
</li>
                <li class="">        <a href="/solution/funding" >Funding</a>
</li>
                <li class="">        <a href="/solution/labor" >Labor</a>
</li>
                <li class="">        <a href="/solution/resiliency" >Resiliency</a>
</li>
                <li class="">        <a href="/solution/scada-automation" >SCADA &amp; Automation</a>
</li>
                <li class="dropdown-submenu">        <a class="dropdown-toggle" data-toggle="dropdown-submenu">
            Source Water
<span class="fa fa-chevron-right submenu-icon" title=""> </span>        </a>
        <ul class="dropdown-menu dropdown-last-level">
                <li class="">        <a href="/solution/source-water" >All Source Water</a>
</li>
                <li class="">        <a href="/solution/source-water-contamination" >Contamination</a>
</li>
                <li class="">        <a href="/solution/desalination" >Desalination </a>
</li>
                <li class="">        <a href="/solution/water-scarcity" >Water Scarcity</a>
</li>
                <li class="">        <a href="/solution/water-reuse" >Water Reuse</a>
</li>
        </ul>
</li>
                <li class="">        <a href="/solution/regulations-and-legislation" >Regulations and Legislation</a>
</li>
                <li class="">        <a href="/solution/water-loss" >Water Loss and Leak Detection</a>
</li>
        </ul>
</li>
                    <li class="">        <a href="/solution/innovations" >Innovations</a>
</li>
            </ul>
        </div>

    </div>
</div>





    
    
    <div class="container main-container">
        
<div class="ecommcenter">
    <div class="layout-one-column-row">
    <div class="layout-one-column-main">
            <div class="content-item bucket">



<div class="jcarousel-wrapper slideshow-container" >
    <div class="slideshow-header mobile-hide">
        <div class="slideshow-title">
            <a href="/doc/vertical-auger-monster-model-agv-0001">Vertical Auger Monster Model AGV</a>
        </div>
            <div class="jcarousel-pagination"></div>
    </div>

    <div class="jcarousel slideshow" data-interval="5000">
        <ul>
                <li data-title="Vertical Auger Monster Model AGV" data-url="/doc/vertical-auger-monster-model-agv-0001">
                        <div class="slideshow-image-container">
                            <a href="/doc/vertical-auger-monster-model-agv-0001"><img src="https://vertassets.blob.core.windows.net/image/2600bde3/2600bde3-4785-46ee-af11-8091227ef699/1140_410-wateronline_jwc_sewage_vert_auger.jpg" alt="Vertical Auger Monster Model AGV" class="img-responsive"/></a>
                        </div>
                        <div class="mobile-show mobile-link">
                            <a href="/doc/vertical-auger-monster-model-agv-0001">Vertical Auger Monster Model AGV</a>
                        </div>
                </li>
                <li data-title="Channel Monster&#174;  Wastewater Grinders" data-url="/doc/channel-monsterreg-0002">
                        <div class="slideshow-image-container">
                            <a href="/doc/channel-monsterreg-0002"><img src="https://vertassets.blob.core.windows.net/image/a37e279c/a37e279c-5d07-42dd-bf35-fd5a3dae523b/1140_410-jwc_channel_monster.jpg" alt="Channel Monster®  Wastewater Grinders" class="img-responsive"/></a>
                        </div>
                        <div class="mobile-show mobile-link">
                            <a href="/doc/channel-monsterreg-0002">Channel Monster&#174;  Wastewater Grinders</a>
                        </div>
                </li>
                <li data-title="Wipes Ready Technology" data-url="/doc/wipes-ready-technology-0001">
                        <div class="slideshow-image-container">
                            <a href="/doc/wipes-ready-technology-0001"><img src="https://vertassets.blob.core.windows.net/image/4cc5f369/4cc5f369-cdb5-4c48-aa69-25113b0b6737/1140_410-wateronline_wipesready_1140x410.jpg" alt="Wipes Ready Technology" class="img-responsive"/></a>
                        </div>
                        <div class="mobile-show mobile-link">
                            <a href="/doc/wipes-ready-technology-0001">Wipes Ready Technology</a>
                        </div>
                </li>
        </ul>
    </div>
    <div class="mobile-show">
        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>

        <div class="jcarousel-pagination"></div>
    </div>
</div>




</div>
 
    </div>
</div>
<div class="layout-two-column-row">
    <div class="layout-two-column-main">
            <div class="content-item document"><div class="document-container">
    
<table border="0" cellpadding="0" cellspacing="0" width="650px">
    <tbody>
        <tr>
            <th colspan="5" scope="col" style="text-align: left; font-size: 1.7em; line-height:1.1em;">We&#39;re Committed to the Success of Your Project</th>
        </tr>
        <tr height="10">
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5">
            <p>JWC Environmental&#39;s family of wastewater, stormwater and sewage treatment products are legendary for quality and reliability &ndash; including the Muffin Monster and Channel Monster sewage grinders, and the Auger Monster, Screenings Washer Monster and Monster Separation Systems, which incorporate a fine screen or band screen with superior sewage screening conditioning.</p>
            </td>
        </tr>
        <tr height="10">
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td width="30%"><a href="http://www.wateronline.com/doc/muffin-monster-manhole-0001"><img alt="Brochure: Muffin Monster Manhole" src="https://vertassets.blob.core.windows.net/image/309a9b2f/309a9b2f-850b-4293-9fe5-02cf0c2fe385/muffin_monster_manhole.jpg" style="border: 0; height: 133px; width: 200px;"></a></td>
            <td width="5%">&nbsp;</td>
            <td width="30%"><a href="http://www.wateronline.com/doc/channel-monster-maintenance-costs-protects-pumps-in-santa-ana-0001"><img alt="Channel Monster Cuts Maintenance Costs And Protects Pumps In Santa Ana" src="https://vertassets.blob.core.windows.net/image/b500f78d/b500f78d-c4a0-45fa-8891-770c5b43251b/channel_monster_maintenance_costs_protects_pumps_in_santa_ana.jpg" style="border: 0; height: 133px; width: 200px;"></a></td>
            <td width="5%">&nbsp;</td>
            <td width="30%">&nbsp;</td>
        </tr>
        <tr>
            <td valign="top"><a href="http://www.wateronline.com/doc/muffin-monster-manhole-0001">Brochure: Muffin Monster Manhole</a></td>
            <td>&nbsp;</td>
            <td valign="top"><a href="http://www.wateronline.com/doc/channel-monster-maintenance-costs-protects-pumps-in-santa-ana-0001">Channel Monster Cuts Maintenance Costs And Protects Pumps In Santa Ana</a></td>
            <td>&nbsp;</td>
            <td valign="top">&nbsp;</td>
        </tr>
    </tbody>
</table>    <script src="https://fast.wistia.com/embed/medias/9gzf74rlnr.jsonp"></script>
    <script src="https://fast.wistia.com/embed/medias/0342n37k0p.jsonp" async=""></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async=""></script>
    <div class="wistia-videos" style="width:100%">
        <span class="wistia-video video-left wistia_embed wistia_async_9gzf74rlnr popover=true popoverAnimateThumbnail=true videoFoam=true">&nbsp;</span>
        <span class="wistia-video video-right wistia_embed wistia_async_0342n37k0p popover=true popoverAnimateThumbnail=true videoFoam=true">&nbsp;</span>
    </div>
</div></div>
    <div class="content-item bucket">
    <h2 class="header"><span>HOT PRODUCTS</span></h2>


<div class="grid-container clearfix">
        <div class="image-grid-container-no-overlay grid-element">
<a href="/doc/there-s-money-in-that-sludge-0001"><img data-original="https://vertassets.blob.core.windows.net/image/588b5f0e/588b5f0e-180c-4a5e-8a35-07fd58d846df/300_200-ift.jpg" alt="There’s Money In That Sludge!" class="img-responsive lazy"/></a>            <a class="title-link" href="/doc/there-s-money-in-that-sludge-0001">There’s Money In That Sludge!</a>
            <div class="summary ellipsis"><p><strong><em>From waste to wealth</em></strong><br>
More and more wastewater treatment plants are trying to find ways to reuse their valuable sludge through anaerobic digestion as well as lower their overall carbon footprint. With our recent acquisition of&nbsp;<strong>IPEC </strong>we now have world class solutions to meet your sludge thickening needs.</p>
</div>
        </div>
        <div class="image-grid-container-no-overlay grid-element">
<a href="/doc/wipes-ready-technology-0001"><img data-original="https://vertassets.blob.core.windows.net/image/e86096db/e86096db-e96b-4cfb-8822-4bb6aa196b7c/300_200-areyouwipesready.jpg" alt="Wipes Ready Technology" class="img-responsive mobile-hide lazy"/></a>            <a class="title-link" href="/doc/wipes-ready-technology-0001">Wipes Ready Technology</a>
            <div class="summary ellipsis"><p><strong><em>Are you wipes ready?</em></strong><br>
Wipes and rags are clogging pumps and damaging wastewater treatment systems. NEW Wipes Ready technologies from JWC will keep your systems running efficiently.</p>
</div>
        </div>
        <div class="image-grid-container-no-overlay grid-element">
<a href="/doc/k-series-muffin-monster-0001"><img data-original="https://vertassets.blob.core.windows.net/image/f8da3a5b/f8da3a5b-cd7b-417e-bf49-1fddc1b93900/300_200-10k_inline_openchannel2.jpg" alt="10K Series Muffin Monster" class="img-responsive mobile-hide lazy"/></a>         <a class="title-link" href="/doc/k-series-muffin-monster-0001">10K Series Muffin Monster</a>
            <div class="summary ellipsis"><p>The 10K Series Muffin Monster is a compact grinder, tough on solids in sludge and sewage applications. It fits into areas with limited space requirements while still providing the necessary power for downstream protection. This simplified design makes it a best cost solution to your sludge and sewage pumping problems.</p>
</div>
        </div>
        <div class="image-grid-container-no-overlay grid-element">
<a href="/doc/shred-grinder-0001"><img data-original="https://vertassets.blob.core.windows.net/image/fb126d4b/fb126d4b-5588-435b-9a81-a8ceb323766c/300_200-7shredgrinder.jpg" alt="7 SHRED Grinder" class="img-responsive mobile-hide lazy"/></a>           <a class="title-link" href="/doc/shred-grinder-0001">7 SHRED Grinder</a>
            <div class="summary ellipsis"><p>
    JWC Environmental is proud to introduce the new 7 SHRED grinder, built to fulfill the demands of product reduction for industrial applications such as in petroleum, agriculture, food processing, municipal solid waste and more.</p>
</div>
        </div>
        <div class="image-grid-container-no-overlay grid-element">
<a href="/doc/vertical-auger-monster-model-agv-0001"><img data-original="https://vertassets.blob.core.windows.net/image/ec6f42f8/ec6f42f8-5e4d-4d4c-96f7-6d771f60483b/300_200-auger-monster-agv-site.jpg" alt="Vertical Auger Monster Model AGV" class="img-responsive mobile-hide lazy"/></a>          <a class="title-link" href="/doc/vertical-auger-monster-model-agv-0001">Vertical Auger Monster Model AGV</a>
            <div class="summary ellipsis"><p>The Auger Monster model AGV safely and easily screens, cleans and conveys rags and debris straight up and out of the sewer system. This gives collection system managers an affordable new way to remove rags before they clog sewage pumps, eliminating the time and expense wasted on de-ragging pumps.</p>
</div>
        </div>
        <div class="image-grid-container-no-overlay grid-element">
<a href="/doc/finescreen-monster-0002"><img data-original="https://vertassets.blob.core.windows.net/image/525ffbd7/525ffbd7-4bb9-4c8e-ac3e-26be3144edb3/300_200-jwc_monster_sep_fine_lg[1].jpg" alt="Finescreen Monster&amp;reg;" class="img-responsive mobile-hide lazy"/></a>         <a class="title-link" href="/doc/finescreen-monster-0002">Finescreen Monster&reg;</a>
            <div class="summary ellipsis">The Monster Separation System is a complete, high-performance system that provides high capture rate of wastewater solids and more efficient washing and compacting, resulting in a discharge that is remarkably clean and ready for disposal. </div>
        </div>
        <div class="image-grid-container-no-overlay grid-element">
<a href="/doc/bandscreen-monster-0002"><img data-original="https://vertassets.blob.core.windows.net/image/c187aecc/c187aecc-6ebe-4a4c-8ce8-574730f30295/300_200-bandscreen_web[1].jpg" alt="Bandscreen Monster&amp;reg;" class="img-responsive mobile-hide lazy"/></a>          <a class="title-link" href="/doc/bandscreen-monster-0002">Bandscreen Monster&reg;</a>
            <div class="summary ellipsis"><p>In today&#39;s modern wastewater treatment plants, meeting high standards in effluent quality, cost efficiency and odor control is a must. To meet these higher standards, JWC introduces the Bandscreen Monster, a member of the Monster Separation System line of high performance screens.</p>
</div>
        </div>
        <div class="image-grid-container-no-overlay grid-element">
<a href="/doc/screenings-washer-monster-0003"><img data-original="https://vertassets.blob.core.windows.net/image/16c27d19/16c27d19-0f9a-4478-86d8-a83e4ae613da/300_200-jwc_screenings_washer_lg.jpg" alt="Screenings Washer Monster&amp;reg;" class="img-responsive mobile-hide lazy"/></a>         <a class="title-link" href="/doc/screenings-washer-monster-0003">Screenings Washer Monster&reg;</a>
            <div class="summary ellipsis">The Screenings Washer Monster is a self-contained, hopper-fed system used to effectively grind, wash, compact and dewater screenings that have been captured by a bar screen or other screenings removal device. The removed solids contain up to 50% dry solids, are 80% compacted and are significantly lighter and cleaner than typical screened solids. </div>
        </div>
        <div class="image-grid-container-no-overlay grid-element">
<a href="/doc/monster-separation-systems-0001"><img data-original="https://vertassets.blob.core.windows.net/image/83af8def/83af8def-5c58-4419-b4c8-c441b50967f2/300_200-jwc.jpg" alt="Monster Separation Systems&amp;reg;" class="img-responsive mobile-hide lazy"/></a>            <a class="title-link" href="/doc/monster-separation-systems-0001">Monster Separation Systems&reg;</a>
            <div class="summary ellipsis"> The JWC Environmental Monster Separation System provides a complete high-performance system, resulting in the best solids capture possible along with screenings of unparalleled dryness and cleanliness, ready for disposal. The removed solids contain up to 50% dry solids, are 80% compacted and are significantly lighter and cleaner than typical screened solids. </div>
        </div>
        <div class="image-grid-container-no-overlay grid-element">
<a href="/doc/auger-monster-modular-headworks-system-0001"><img data-original="https://vertassets.blob.core.windows.net/image/fd043581/fd043581-0349-43bd-9990-177b677facb5/300_200-jwc_auger_xe_lg[1].jpg" alt="Auger Monster &amp; In-Channel Auger Screens" class="img-responsive mobile-hide lazy"/></a>            <a class="title-link" href="/doc/auger-monster-modular-headworks-system-0001">Auger Monster & In-Channel Auger Screens</a>
            <div class="summary ellipsis"><p><b>All-In-One Headworks Solution &ndash; Grind, Screen And Compact</b><br>
The <strong>Auger Monster</strong><strong><sup>&reg;</sup></strong>&nbsp;is a robust headworks solution which combines three of JWC&rsquo;s finest technologies &ndash; a grinder, a fine screen and a compactor. It removes trash and unwanted solids so the treatment plant runs more efficiently. The <strong>Auger Monster</strong> is proven to result in cleaner, more compact discharge and lowered disposal costs, as less water and fecal material are sent to the landfill.</p>
</div>
        </div>
</div>



    <a class="more-link" href="/hub/bucket/EC_Products-jwc">More Products</a>

</div>
 
    </div>
    <div class="layout-two-column-secondary">
            <div class="content-item logo">
<img src="https://vertassets.blob.core.windows.net/image/17ac0b28/17ac0b28-066b-488a-b0d6-0ec85f19033d/jwclogo.jpg"/></div>
    <div class="content-item contactinfo">
    <h2 class="header"><span>CONTACT INFORMATION</span></h2>

<p class="company-name">JWC Environmental</p>
<div class="address">
     <p> 2850 S. Red Hill Ave., Suite 125</p> 
    <p>
        Santa Ana,  CA 
        92705 
    </p>
    <p>UNITED STATES </p>
</div>
<div class="address">
     <p>Phone:  (888) 350-5942</p> 
     <p>Fax:  (949) 833-8858</p> 
     <p>Contact:  Perla Perez</p> 
</div>

<div class="more-information">
    <div><a href="/lead/New?type=ContactRequest&amp;itemId=465"><i class="sidebar-icon request-info-small"></i> Request More Information</a></div>
    <div><a href="/track/client/465" target="_blank"><i class="sidebar-icon website-link"></i> Visit Our Website</a></div>
</div>

</div>
    <div class="content-item bucket">
    <h2 class="header"><span>FEATURED CASE STUDIES AND ARTICLES</span></h2>


<ul class="seperated-items no-bullets">
        <li class="image-title-summary-container small-thumbnail">
            <div class="clearfix">
                    <div class="img-canvas-sm">

                        <a href="/doc/retrofitting-is-it-right-for-your-sewage-lift-station-0001"><img data-original="https://vert-imageresizer.azurewebsites.net/resize?sourceUrl=https://vertassets.blob.core.windows.net/image/13a227a1/13a227a1-db05-4726-800f-adb0aebda7c9/retrofittingfeature.jpg&size=198_132" alt="Retrofitting: Is It Right For Your Sewage Lift Station?" class="img-responsive mobile-hide lazy"/></a>
                    </div>
                <div class="summary ellipsis">
                    <a class="title-link" title="Retrofitting: Is It Right For Your Sewage Lift Station?" href="/doc/retrofitting-is-it-right-for-your-sewage-lift-station-0001">Retrofitting: Is It Right For Your Sewage Lift Station?</a>
                    <p>It&rsquo;s just past 10 on a Friday night, and the phones start ringing in the pockets of the on-call collection systems operators. It&rsquo;s an alarm for another pump clog at one of your sewage lift stations &mdash; the second one this week.</p>

                </div>
            </div>
        </li>
        <li class="image-title-summary-container small-thumbnail">
            <div class="clearfix">
                    <div class="img-canvas-sm">

                        <a href="/doc/our-screens-work-great-now-what-part-of-0001"><img data-original="https://vertassets.blob.core.windows.net/image/bbd619d2/bbd619d2-fe7c-41bf-a4f4-d6a3766412f7/198_132-cloggedaugercompactor.jpg" alt="Our Screens Work Great! Now What? (Part 3 Of 3)" class="img-responsive mobile-hide lazy"/></a>
                    </div>
                <div class="summary ellipsis">
                    <a class="title-link" title="Our Screens Work Great! Now What? (Part 3 Of 3)" href="/doc/our-screens-work-great-now-what-part-of-0001">Our Screens Work Great! Now What? (Part 3 Of 3)</a>
                    <p>This is the third installment of a three-part series exploring headworks screening problems and solutions. In this installment we will explore solids removal options for headworks facilities.</p>

                </div>
            </div>
        </li>
        <li class="image-title-summary-container small-thumbnail">
            <div class="clearfix">
                    <div class="img-canvas-sm">

                        <a href="/doc/the-fine-points-of-headworks-screening-part-of-0001"><img data-original="https://vertassets.blob.core.windows.net/image/5813818c/5813818c-b11c-40aa-a78e-106523fbbacc/198_132-headworksscreening.jpg" alt="The Fine Points Of Headworks Screening (Part 2 Of 3)" class="img-responsive mobile-hide lazy"/></a>
                    </div>
                <div class="summary ellipsis">
                    <a class="title-link" title="The Fine Points Of Headworks Screening (Part 2 Of 3)" href="/doc/the-fine-points-of-headworks-screening-part-of-0001">The Fine Points Of Headworks Screening (Part 2 Of 3)</a>
                    <p>Protecting wastewater treatment facilities requires operators to think strategically about their unique challenges and identify the best solution for their specific requirements. Specifying the appropriate headworks system for the plant&rsquo;s needs is arguably one of the most important design decisions a public works engineer will make.</p>

                </div>
            </div>
        </li>
        <li class="image-title-summary-container small-thumbnail">
            <div class="clearfix">
                    <div class="img-canvas-sm">

                        <a href="/doc/outfitting-your-headworks-systems-part-of-0001"><img data-original="https://vertassets.blob.core.windows.net/image/c99cacdd/c99cacdd-98d2-4227-b2b3-f850727d4e12/198_132-rccc_sacramento_ca_1.jpg" alt="Outfitting Your Headworks Systems (Part 1 Of 3)" class="img-responsive mobile-hide lazy"/></a>
                    </div>
                <div class="summary ellipsis">
                    <a class="title-link" title="Outfitting Your Headworks Systems (Part 1 Of 3)" href="/doc/outfitting-your-headworks-systems-part-of-0001">Outfitting Your Headworks Systems (Part 1 Of 3)</a>
                    <p>A plant&rsquo;s headworks plays a crucial role in the pretreatment influent for any wastewater treatment facility. They protect the operation of downstream equipment and enhance the efficiency of the overall wastewater treatment process.</p>

                </div>
            </div>
        </li>
        <li class="image-title-summary-container small-thumbnail">
            <div class="clearfix">
                    <div class="img-canvas-sm">

                        <a href="/doc/how-the-industry-can-take-on-wipes-in-the-waste-stream-and-win-part-three-0001"><img data-original="https://vertassets.blob.core.windows.net/image/1591ecdf/1591ecdf-7ae8-4903-9b1d-e46eb430f5c2/198_132-reclaimwaterpumps.jpg" alt="How The Industry Can Take On Wipes In The Waste Stream – And Win: Part 3" class="img-responsive mobile-hide lazy"/></a>
                    </div>
                <div class="summary ellipsis">
                    <a class="title-link" title="How The Industry Can Take On Wipes In The Waste Stream – And Win: Part 3" href="/doc/how-the-industry-can-take-on-wipes-in-the-waste-stream-and-win-part-three-0001">How The Industry Can Take On Wipes In The Waste Stream – And Win: Part 3</a>
                    <p>As outlined in earlier articles, increasing public awareness or even seeking legal action are potential tools to help municipalities gain control of the wipes problem. However, many agencies have seen that these strategies are not completely effective in the long term, and they must also employ new technologies to permanently deal with the wipes epidemic.</p>

                </div>
            </div>
        </li>
        <li class="image-title-summary-container small-thumbnail">
            <div class="clearfix">
                    <div class="img-canvas-sm">

                        <a href="/doc/how-the-industry-can-take-on-wipes-in-the-waste-stream-and-win-part-two-0001"><img data-original="https://vertassets.blob.core.windows.net/image/96796b5a/96796b5a-1884-43f2-912a-9a45b57d187e/198_132-jeffbaischlakestevens.jpg" alt="How The Industry Can Take On Wipes In The Waste Stream – And Win: Part 2" class="img-responsive mobile-hide lazy"/></a>
                    </div>
                <div class="summary ellipsis">
                    <a class="title-link" title="How The Industry Can Take On Wipes In The Waste Stream – And Win: Part 2" href="/doc/how-the-industry-can-take-on-wipes-in-the-waste-stream-and-win-part-two-0001">How The Industry Can Take On Wipes In The Waste Stream – And Win: Part 2</a>
                    <p>This is the second installment of a three-part series examining wipes in the waste stream. The first installment looked specifically at the growth of disposable wipes usage within the last decade. Now we&rsquo;ll look at the public outreach campaigns and some of the ways pump manufacturers are adjusting their technology to try to reduce or prevent wipes-related clogging.&nbsp; &nbsp;</p>

                </div>
            </div>
        </li>
</ul>



    <a class="more-link" href="/hub/bucket/featured-case-studies-and-articles">More Case Studies and Articles</a>

</div>
 
    </div>
</div>
<div class="layout-one-column-row">
    <div class="layout-one-column-main">
            <div class="content-item document">    <h2 class="header"><span>JWC ENVIRONMENTAL</span></h2>
<div class="document-container">
    
<h3>
    Muffin Monster &mdash; Monsters Work Here!</h3>
<p>
    On this, our 40th&nbsp;anniversary, JWCE remains the wastewater industry&rsquo;s gold standard for quality in sewage grinders, screens and engineered systems, and we continue to grow in new and exciting industries. Thousands of Muffin Monsters are in wastewater treatment plants around the world and can also be found on farms, in biofuel facilities, at petroleum plants, inside food waste processing systems, on fishing boats and more.</p>
<p>
    JWC Environmental&#39;s family of wastewater, storm water and sewage treatment products are legendary for quality and reliability &mdash; including the Muffin Monster and Channel Monster sewage grinders, and the Auger Monster, Screenings Washer Monster and Monster Separation Systems, which incorporate a fine screen or band screen with superior sewage screening conditioning.</p>
<p>
    With over 40 years of award winning service and innovation, you know you can trust Monster quality when it comes to fulfilling the requirements of demanding sewage and wastewater treatment operations.</p>
<p>
    JWC Environmental Santa Ana and Costa Mesa, CA facilities are registered by UL to ISO9001:2000 File #A16182. JWC International Congleton, UK is registered by QAS to ISO9001:2008 File #A13056.</p>
<p>
    <a href="/doc/jwce-waste-grinder-demo-0001">JWCE Waste Grinder Demo</a><br>
    <a href="/doc/food-waste-grinding-video-0001">Food Waste Grinding Video</a></p>
<p>
    <img src="https://vertassets.blob.core.windows.net/image/5f322b9f/5f322b9f-45d3-4d90-af94-a1bf00baf764/muffinmonster.jpg"></p>
<p>
    &nbsp;</p>
<table border="0" width="100%">
    <tbody>
        <tr>
            <td style="text-align: center;" width="23%">
                <img height="188" src="https://vertassets.blob.core.windows.net/image/393d39ab/393d39ab-85ed-41a9-aa79-a1bf00bf30bb/muffin_monster.jpg" width="122"></td>
            <td width="77%">
                <font size="2">The patented <b> Muffin Monster&reg;</b> design has established new standards in product performance and reliability due to decades of technical advancements and innovative design improvements.<br>
                <br>
                Adapts to pipelines or channels with little or no modification and custom stainless steel frames allow easy installation in channels, wet wells and pump stations.</font></td>
        </tr>
        <tr>
            <td style="text-align: center;" width="23%">
                <img height="173" src="https://vertassets.blob.core.windows.net/image/95ba810b/95ba810b-a81a-4c4a-ad2b-a1bf00bf3fb4/channelmonsters.jpg" width="170"></td>
            <td width="77%">
                <font size="2"><b>Channel Monsters&reg;</b> easily replace troublesome bar screens and comminutors &mdash; helping you reduce operating and maintenance costs. Clean, powerful, reliable and cost effective &ndash; <b> Channel Monster </b> is the industry&rsquo;s high-flow grinder of choice!</font></td>
        </tr>
        <tr>
            <td style="text-align: center;" width="23%">
                <img height="174" src="https://vertassets.blob.core.windows.net/image/ada53c59/ada53c59-4930-4e9c-bf73-a1bf00bf5166/augermonster.jpg" width="93"></td>
            <td width="77%">
                <font size="2">The <b> Auger Monster&reg; </b> is a robust and affordable wastewater screen which combines three of JWC&rsquo;s finest technologies &ndash; a grinder, a fine screen and a compactor. It removes trash and unwanted solids. The new Vertical Auger Monster protects pump stations from non-dispersible wipes.</font></td>
        </tr>
        <tr>
            <td style="text-align: center;" width="23%">
                <img height="198" src="https://vertassets.blob.core.windows.net/image/2afcffd0/2afcffd0-535f-4c59-9238-a1bf00bf5f42/monsterseparationsystems.jpg" width="123"></td>
            <td width="77%">
                <font size="2"><b>Monster Separation Systems&reg; </b> are a complete, high-performance system that provides high capture rate of wastewater solids and more efficient washing and compacting, resulting in a discharge that is remarkably clean and ready for disposal. The more unwanted solids removed at the headworks of your treatment plant, the better the whole facility will run.</font></td>
        </tr>
        <tr>
            <td style="text-align: center;" width="23%">
                <img height="155" src="https://vertassets.blob.core.windows.net/image/6926fea9/6926fea9-77e5-40d9-996c-a1bf00bf6c00/swm.jpg" style="margin: 5px;" width="237"></td>
            <td width="77%">
                The <strong>Screenings Washer Monster&reg; (SWM) </strong>produces ultra-clean discharge using a patented system to grind, wash, compact and dewater debris captured by a screen. This self-contained, hopper fed system produces the industry&rsquo;s cleanest most compact screenings discharge.</td>
        </tr>
        <tr>
            <td style="text-align: center;" width="23%">
                <img height="158" src="https://vertassets.blob.core.windows.net/image/9c7e06b6/9c7e06b6-5d3c-4800-8c73-a1bf00bf7873/honeymonster.jpg" style="margin: 5px;" width="248"></td>
            <td width="77%">
                <font size="2">The <b> Honey Monster&reg; Septage Receiving Station</b> is based on proven <b> Auger Monster&reg;</b> technology, which allows cleaner handling of septage truck waste through separation of solids. The unique combination of grinding, washing and dewatering septage waste can be accomplished in approximately 5 to 15 minutes for a typical septage truck.</font></td>
        </tr>
    </tbody>
</table>
<p>
    &nbsp;</p>
<p>
    &nbsp;</p>
<p>
    <img src="https://vertassets.blob.core.windows.net/image/b6e5376b/b6e5376b-0940-480f-8c59-a1bf00c1bd73/monsterindustrial.jpg"></p>
<table border="0" width="100%">
    <tbody>
        <tr>
            <td style="text-align: center;" width="23%">
                <img src="https://vertassets.blob.core.windows.net/image/bef4c6b3/bef4c6b3-8f54-487e-8740-a1bf00c7aa16/3shred.jpg"></td>
            <td width="77%">
                <strong>3‐SHRED</strong><br>
                3 cutter stack sizes: 8&rdquo; (200mm), 12&rdquo; (300mm) and 18&rdquo; (450mm)<br>
                &nbsp;&nbsp; &nbsp;<br>
                Motor size: 5HP (3.7 kW)<br>
                <br>
                Applications: MARPOL, Food Waste, Agriculture, Petroleum</td>
        </tr>
        <tr>
            <td style="text-align: center;" width="23%">
                <img height="113" src="https://vertassets.blob.core.windows.net/image/49c77216/49c77216-d94f-47f9-8363-a1bf00c7ec2d/4shred.jpg" width="248"></td>
            <td width="77%">
                <strong>4‐SHRED</strong><br>
                3 cutter stack sizes: 18&rdquo; (450mm), 24&rdquo; (600mm) and 32&rdquo; (800mm)<br>
                <br>
                Motor size: 10HP (7 kW)<br>
                <br>
                Applications: Agriculture, Food Waste, Product Destruction, Depackaging, Recycling<br>
                <br>
                *model shown with optional hopper</td>
        </tr>
        <tr>
            <td style="text-align: center;" width="23%">
                <img src="https://vertassets.blob.core.windows.net/image/4f62bfb0/4f62bfb0-62b3-4651-b538-a1bf00c8206d/7shred.jpg"></td>
            <td width="77%">
                <strong>7‐SHRED</strong><br>
                3 cutter stack sizes: 30&rdquo; (762 mm), 40&rdquo; (1016mm) and 50&rdquo; (1270mm)<br>
                &nbsp;&nbsp; &nbsp;<br>
                Motor size: 25 - 50HP (18.5 - 37 kW)<br>
                <br>
                Applications: Agriculture, Food Waste, Product Destruction, Recycling</td>
        </tr>
        <tr>
            <td style="text-align: center;" width="23%">
                <img height="188" src="https://vertassets.blob.core.windows.net/image/8a5d7125/8a5d7125-27b8-4b17-a974-a1bf00c86799/fishcleaning.jpg" width="248"></td>
            <td width="77%">
                The <strong>Monster Industrial Fish Cleaning Station </strong>is the most efficient fish cleaning station available. The self-contained unit uses a powerful HYDRO dual-shafted grinder to shred solids, such as fish parts, cans, plates, utensils and fishing lures.</td>
        </tr>
        <tr>
            <td style="text-align: center;" width="23%">
                <img height="174" src="https://vertassets.blob.core.windows.net/image/af259d47/af259d47-13db-4363-920b-a1bf00c89e42/zwm.jpg" width="248"></td>
            <td width="77%">
                The<strong> Zero Waste Monster &trade; (ZWM) </strong>is a self-contained, hopper-fed system designed to separate liquids, gels, creams and semi-solids from their plastic, glass or metal containers.&nbsp; This patented system will give you the peace of mind of onsite product destruction, while saving you money in waste hauling and landfill fees.<br>
                <br>
                Applications: Depackaging, Recycling</td>
        </tr>
    </tbody>
</table>
<center>
    <p>
        <img src="http://oldimages.vertmarkets.com/crlive/files/images/a1fd0fad-cbfc-41b1-acf0-775fae142be5/iso9001_2008.jpg"> <img src="http://oldimages.vertmarkets.com/crlive/files/images/a1fd0fad-cbfc-41b1-acf0-775fae142be5/jwciso9001_2000.jpg"> <img src="https://vertassets.blob.core.windows.net/image/9265861e/9265861e-25e1-48dc-bd01-a1bf00ba5eb7/designabs.jpg"></p>
</center>
<p>
    &nbsp;</p>

</div></div>
 
    </div>
</div>
</div>

    </div>
    
    <div class="vert-footer-container noprint">
        <div class="footer footer-row-4">
                <div class="footer-column-4">
                        <ul class="no-bullets">
            <li>
                                <span>Explore Water Online</span>

                    <ul class="no-bullets">
                            <li> <a href="/author/kevin-westerling" >From The Editor</a> </li>
                            <li> <a href="/hub/bucket/archivenlbucket" >Water Online Newsletters</a> </li>
                            <li> <a href="/hub/bucket/homelatestheadlines" >Latest Water and Wastewater News</a> </li>
                            <li> <a href="/hub/bucket/fromtheeditor" >Article Archives</a> </li>
                    </ul>
            </li>
            <li>
                                <span>Popular Features</span>

                    <ul class="no-bullets">
                            <li> <a href="/resource/water-online-radio" >Water Online Radio</a> </li>
                            <li> <a href="/solution/wateronlinetv" >Water Online TV</a> </li>
                            <li> <a href="http://wateronline.epubxp.com/read/account_titles/158647" >Water Online Digital Magazines</a> </li>
                            <li> <a href="/eventscalendar/" >Upcoming Events</a> </li>
                    </ul>
            </li>
    </ul>

                </div>
                <div class="footer-column-4">
                        <ul class="no-bullets">
            <li>
                                <span>Beyond Water Online</span>

                    <ul class="no-bullets">
                            <li> <a href="https://twitter.com/wateronline" >Water Online On Twitter</a> </li>
                            <li> <a href="http://www.linkedin.com/groups/water-online-4444098/about" >Water Online On LinkedIn</a> </li>
                            <li> <a href="/user/new" >Sign-Up For Our Newsletter</a> </li>
                            <li> <a href="/doc/water-online-premier-partners-0001" >Partners</a> </li>
                    </ul>
            </li>
    </ul>

                </div>
                <div class="footer-column-4">
                        <ul class="no-bullets">
            <li>
                                <span>Advertise On Water Online</span>

                    <ul class="no-bullets">
                            <li> <a href="/doc/water-online-media-kit-0001?immediate=true" >Water Online Media Kit</a> </li>
                            <li> <a href="http://vertassets.blob.core.windows.net/download/bd164028/bd164028-b1e2-42e3-9312-a1f708907c32/2016_editorial_calendar_water_online.pdf" >2016 Water Online Editorial Calendar</a> </li>
                            <li> <a href="http://vertassets.blob.core.windows.net/download/1007a65a/1007a65a-b8a3-4728-8e8e-32bf25b59f5d/2017_editorial_calendar_water_online.pdf" >2017 Water Online Editorial Calendar</a> </li>
                            <li> <a href="/premier-advertisers" >Premier Advertisers</a> </li>
                            <li> <a href="http://www.b2brandwater.com/"   target="_blank"   >Brand Publishing</a> </li>
                    </ul>
            </li>
    </ul>

                </div>
                <div class="footer-column-4">
                        <ul class="no-bullets">
            <li>
                                <span>Write For Water Online</span>

                    <ul class="no-bullets">
                            <li> <a href="/doc/be-a-contributor-to-onlinename-0001" >Contributor Guidelines </a> </li>
                            <li> <a href="/doc/water-online-custom-content-services-0001?immediate=true" >Custom Content Services</a> </li>
                            <li> <a href="mailto:info@wateronline.com?subject=editorial inquiry" >Contact Editor Now</a> </li>
                    </ul>
            </li>
    </ul>

                </div>
        </div>
        <div class="vert-copyright">
        <a href="/static/Copyright">Copyright</a> &copy; 1996-2017 <a href="http://www.vertmarkets.com">VertMarkets, Inc.</a> All Rights Reserved.  <a href="/static/Legal">Terms of Use</a>.  <a href="/static/Privacy">Privacy Statement</a>.
    </div>
</div>




    <script src ="/wwwroot/js/core/core.min.js?v=27755"></script>

    
    <script src ="/wwwroot/js/jcarousel/jcarousel.min.js?v=27755"></script>

    <script type="text/javascript">
        $(function() {
            Sites.Common.initializeSlideshow();
            Sites.Common.initializeImageGallery();
        });
    </script>

</body>
</html>